@keyframes from_right_to_left{

    0% {
        opacity: 0;
        transform: translateX(30rem);
    }


    90% {
        transform: translateX(-5rem);

    }

    100%{
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes flash{

    0% {
        opacity: 1;
    }

    10% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    70% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }

    90% {
        opacity: 0;
    }
    100%{
        opacity: 1;

    }
}


@keyframes from_left_to_right{
    0% {
        opacity: 0;
        transform: translateX(-30rem);
    }


    90% {
        transform: translateX(5rem);

    }

    100%{
        opacity: 1;
        transform: translateX(0rem);
    }
}


@keyframes from_up_to_down{
    0% {
        transform: translateY(0rem);
    }


    50% {
        transform: translateY(25rem);

    }

    100%{
        transform: translateY(0rem);
    }
}
