
.message{
    &-session{
        position: relative;

        font-size: 1.5rem;

        text-align: center;

        &-span{

            padding: 1rem;

            background-color: gold;

            border-radius: 1.5rem;

            text-transform: uppercase;

            animation: flash;
            animation-duration: 5s;
            backface-visibility: hidden; /*to prevent shake of the chars when its animated*/

        }

    }

}


