.navbar-brand-logo{
    height: 2rem;
    width: 2rem;
}

.my_navbar{
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;

}

.my_container{
    background-color: teal;
    margin-top: 6rem;
    padding: 2rem;
    border-radius: 2rem;
}


.form-sign_up{
    padding: 2rem;
    border-radius: 2rem;
    background-color: black;
    color: white;
    margin-right: .5rem;

    &-legend{
        font-size: 1.5rem;
        font-weight: bold;
        color: teal;
    }

    &-submit{
        margin-top: 2rem;
        text-align: center;

        &-gmail{
            height: 2rem;
            width: 2rem;
        }
        &-facebook{
            height: 2rem;
            width: 2rem;
        }
    }

}

.form-sign_in{
    padding: 2rem;
    border-radius: 2rem;
    background-color: black;
    color: white;
    margin-right: .5rem;

    &-legend{
        font-size: 1.5rem;
        font-weight: bold;
        color: teal;

    }

    &-submit{
        margin-top: 2rem;
        text-align: center;

        &-gmail{
            height: 2rem;
            width: 2rem;
        }
        &-facebook{
            height: 2rem;
            width: 2rem;
        }
    }
}
