.master_view {
    max-width: 120rem;
    margin: 8rem auto;
    padding: 2rem;
    box-shadow: var(--shadow-dark);

    min-height: 7rem; // 50rem

    border-radius: 2rem ;

    //background-color: teal;
    background-color: black;
    //background-image: linear-gradient(
    //        to right bottom,
    //        rgba(#7ed56f, 0.8),
    //        rgba(#28b485, 0.8));

    @media only screen and (max-width: $bp-largest) {
        margin: 12rem 1rem; //6 for header + 3 for search bar + 3 for me for best preview
        max-width: 100%;
        //width: 100%;
        width: auto;

    }

    &-pagination{
        text-align: center;
        &-button{
            width: 100%;
            font-size: 1.5rem;
            padding: 1rem;
            border-style: none;
            background-color: teal;
            cursor: pointer;

        }
    }

    &-show_more{
        cursor: pointer;
        text-align: center;
        margin-top: 1rem;
        &-input{
            font-size: 1.5rem;
            padding: 1rem;
            border-style: none;
            background-image: linear-gradient(to right bottom,
                rgba(#7ed56f, 0.8),
                rgba(#28b485, 0.8));
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;

            &-no_more{
                font-size: 1.5rem;
                padding: 1rem;
                border-style: none;
                background-image: linear-gradient(to right bottom,
                    rgba(teal, 0.8),
                    rgba(#28b485, 0.8));
                background-size: cover;
                background-repeat: no-repeat;

            }
        }


    }

}



////////////////////////////////////////
// SEARCH
.search {
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $bp-smallest) {
        order: 1;
        flex: 0 0 100%;
        background-color: var(--color-grey-light-2);
    }

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .2s;
        margin-right: -3.25rem;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}






.profile_container {
    //flex-container-column-wrap

    background-color: rgba(black,.9);

    border-radius: 2rem 2rem 0 0;

    padding: 0 2rem;
}

.track_container {
    //flex-container-column-wrap


    border-radius: 2rem 2rem 0 0;

    margin-top: 1rem;


}

.track{
    //flex-container-row-no_wrap


    padding: 2rem 2rem 0 2rem ;

    border-radius: 2rem 2rem 0 0;

    font-size: 1.5rem;

    height: auto;
    width: 100%;

    text-align: right;

    //background-color: var(--color-grey-light-3);

    background-color: black;

    color: var(--color-grey-dark-1);

    box-shadow: var(--shadow-dark);

    overflow: hidden;


    &-menu{
        position: absolute;
        right: 10%;

        &-more{
            height: 3rem;
            width: 3rem;
        }

        &-wrapper{
            display: none;

            width: 7rem;
            height: auto;
            &-item{

            }
        }
    }

    &-name-link{
        &-input{
            cursor: pointer;

            text-align: left;
            width: 100%;
            font-size: 1.6rem;
        }
    }

    &-created_at{
        text-decoration: none;
        color: white;
        font-size: 1rem;
        text-align: left;
    }

    &:hover {
        //background-image: linear-gradient(
        //        to right bottom,
        //        rgba(#7ed56f, 0.8),
        //        rgba(#28b485, 0.8));

        //background-color: #0a1520;
    }
    &-caption{
        width: 100%;

        &-input{

            width: 100%;

            color: white;
            background-color: transparent;
            //background-color: #0a1520;

            font-size: 1.2rem;
            padding: .5rem;

            text-align: left;
        }
    }
    &-first_section{
        //flex-container-column-wrap

        &-photo{
            height: 5rem;
            width: 5rem;
            border-radius: 50%;
        }
        &-user_name{

            &-link{
                text-decoration: none;
                //color: black;
                color: white;

                font-size: 1.5rem;

            }

        }
    }

    &-second_section{
    }

    &-third_section{
        &-love_photo{

            width: 7rem;
            height: 7rem;
            border-radius: 50%;
        }
        &-unlove_photo{

            width: 8rem;
            height: 8rem;
            border-radius: 50%;
        }
    }


    &-upper_buttons{
        //flex-container-row-wrap
        width: 100%;

        &-icon{

            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            margin: 1rem;

        }
    }

    &-duration{
        color: white;
        margin-bottom: 1rem;
        width: 100%;
        &-duration{
            width: 100%;
            margin: 0 1rem 0 1rem;
        }
    }

    &-volume{
        width: 100%;
        color: white;
        &-volume{
            width: 100%;
            margin: 0 1rem 0 1rem;

        }
    }

    &-down_buttons{
        //flex-container-row-wrap
        width: 100%;
        &-icon{

            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            margin: 1rem;

        }
    }

    &-comments-container{
        //flex-container-column-wrap

        margin-bottom: 2rem;
        padding: 0 2rem;

        background-color: black;

        //background-color: #0a1520;


        border-radius: 0 0 2rem 2rem;


    }

    &-form-comment{
        //display: none;

        margin: 1rem 0;

        color: white;
        width: 100%;
    }

    &-loves{
        text-decoration: none;
        color: red;

        &-form{
            margin: 0rem;
            padding: 1rem;
            color: black;
        }
    }

    &-comment {

        //display: none;

        margin: 1rem 0;

        color: white;

        width: 100%;
        &-love_pic{
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
        }
        &-love{
            text-decoration: none;
            color: red;
            font-size: 1.3rem;
        }
        &-date{
            color: white;
            font-size: 1rem;
        }
        &-user_name{
            &-link{
                font-size: 1.5rem;
                color: white;
                text-decoration: none;
            }
        }
        &-text_area{
            padding: .5rem;

            text-align: left;
            width: 100%;
        }

        &-photo{
            height: 5rem;
            width: 5rem;
            border-radius: 50%;
            margin-right: 1rem;
        }

    }

    &-owner-pic{

    }

}




.show_track_container{
    margin-top: 1rem;
}


.about_container{

    background-color: black;
    padding: 2rem;
    margin: 2rem;
    border-radius: 2rem;

}

.about{




    &-background_pic{
        width: 100%;
        height: 30rem;
    }

    &-profile_pic{
        height: 10rem;
        width: 10rem;
        border-radius: 50%;
    }

    &-personal_info{
        margin-top: 2rem;
        font-size: 1.5rem;
        color: white;
        width: 100%;
        &-first_name{
            width: 100%;
            margin: 1rem;

            &-label{

            }
            &-input{
                width: 100%;
                height: 2rem;
                border-radius: 2rem;
                padding-left: 2rem;
            }
        }
        &-second_name{
            width: 100%;
            margin: 1rem;

            &-label{

            }
            &-input{
                width: 100%;
                height: 2rem;
                border-radius: 2rem;
                padding-left: 2rem;
            }
        }
        &-from{
            width: 100%;
            margin: 1rem;

            &-label{

            }
            &-input{
                width: 100%;
                height: 2rem;
                border-radius: 2rem;
                padding-left: 2rem;
            }
        }
        &-lives{
            width: 100%;
            margin: 1rem;

            &-label{

            }
            &-input{
                width: 100%;
                height: 2rem;
                border-radius: 2rem;
                padding-left: 2rem;
            }

        }
        &-study_at{
            width: 100%;
            margin: 1rem;

            &-label{

            }
            &-input{
                width: 100%;
                height: 2rem;
                border-radius: 2rem;
                padding-left: 2rem;
            }
        }

        &-work{
            width: 100%;
            margin: 1rem;

            &-label{

            }
            &-input{
                width: 100%;
                height: 2rem;
                border-radius: 2rem;
                padding-left: 2rem;
            }
        }
        &-gender{
            width: 100%;
            margin: 1rem;
            &-label{

            }
            &-input{
                width: 100%;
                height: 2rem;
                border-radius: 2rem;
                padding-left: 2rem;
            }

        }
    }

}



#playing {
    background-image: url(/images/media_pause_btn.png);
}

#paused {
    background-image: url(/images/media_play_btn.png);
}


.popup{
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: white;
}
.popup .popup_text{
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    bottom: 125%;
    left: 50%;
    z-index: 1;
    margin-left: -80px;
}
.popup .popup_text::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show{
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from{opacity: 0;}
    to{opacity: 1;}
}


.popup-sign-up-with-gmail{
    color: black;

    width: 100%;
    height: 100%;
    background-color: rgba(black,.7);
    position: absolute;
    top: 0;

    justify-content: center;
    align-items: center;

    display: none;
}
.popup-sign-up-with-gmail-content{
    position: relative;

    width: 50rem;
    height: auto;
    background-color: white;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
    overflow: hidden;
}

.popup-sign-up-with-gmail-close{
    position: absolute;
    top: 0rem;
    right: 1.4rem;
    font-size: 4rem;
    transform: rotate(45deg);
    cursor: pointer;

}

.message-section{
    height: 80vh;
    width: 100vw;
    position: relative;
    margin: 2rem;

    &-square{
        height: 90%;
        width: 100%;
        background-color: black;
        overflow-y: scroll;
        @media only screen and (max-width: $bp-small) {
            border-radius: 2rem;
        }
        &-from_me{
            font-size: 1.5rem;

            float: right;
            width: 50%;
            color: white;
            background-color: crimson;
            padding: 1rem;
            margin: 1rem;
            border-radius: 2rem;

            &-profile_pic{
                float: right;
            }
        }
        &-to_me{
            font-size: 1.5rem;
            width: 50%;
            float: left;
            color: black;
            background-color: white;
            padding: 1rem;
            margin: 1rem;
            border-radius: 2rem;
            &-profile_pic{
                float: left;
            }

        }
    }

    &-menu_bar{

        width: 100%;
        height: 10%;
        position: relative;

        border-radius: 2rem;

        &-text{
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            border-style: none;
            border-radius: 0 0 2rem 0;
            @media only screen and (max-width: $bp-small) {
                border-radius: 2rem;
            }
        }
        &-send{
            width: 5rem;
            height: 100%;

            position: absolute;
            bottom: 0;
            right: 0;
            background-color: teal;

            border-radius: 0 0 2rem 0rem;
            @media only screen and (max-width: $bp-small) {
                border-radius: 0rem 2rem 2rem 0rem;
            }
        }
    }
}

.notifi-box{

    width: 30rem;
    position: absolute;
    top: 6rem;
    right: 6rem;

    box-shadow: 0 4px 8px 0 rgba(0 , 0 , 0 , .2), 0 6px 20px 0 rgba(0 , 0 , 0 , .19px) ;

    display: none;

    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;

    background-color: black;

    &-h2{
        font-size: 1.4rem;
        padding: 1rem;
        border-bottom: 1px solid #eee;
        color: black;
        background-color: white;

    }

    &-span{
        color: #f00;
        margin-left: 1rem;
    }

    &-show_all{
        text-align: center;
        &-button{
            width: 100%;
            font-size: 1.5rem;
            padding: 1rem;
            border-style: none;
            background-color: teal;
            cursor: pointer;

        }
    }

}


.notifi-item{
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 1.5rem .5rem;
    cursor: pointer;
    width: 30rem;

    background-color: #eee;
    color: black;

    &-img{

        display: block;
        width: 5rem;
        margin-right: 1rem;
        border-radius: 50%;
    }

    &-text{

        &-h4{
            color: inherit;
            font-size: 1.3rem;
            margin-top: 1rem ;
        }

        &-p{
            color: inherit;
            font-size: 1.2rem;
        }

    }
}

.notifi-item:hover{
    background-color: black;
    color: #eee;
}

@media only screen and (max-width: $bp-small) {
    #notifications-box{
        right: 3rem;
    }
}

.navbar-brand-logo{
    height: 4rem;
    width: 4rem;
}

.my_navbar{
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    font-size: 1.5rem;
    background-color: black;
}

.my_container{
    background-color: teal;
    margin-top: 6rem;
    padding: 2rem;
    border-radius: 2rem;
}


.index_track{
    background-color: black;
    border-radius: 2rem;

    &-track_owner{
        &-pic{
            width: 7rem;
            height: 7rem;
            border-radius: 50%;
        }
        &-name{
            color: white;
            font-size: 1.4rem;
            &:hover{
                color: white;
            }
        }
    }
    &-created_at{
        color: gray;
        text-decoration: none;
        &:hover{
            color: gray;
        }
    }

    &-track_name{
        text-decoration: none;
        &:hover{
            color: white;
        }
    }

    &-love_photo{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
    }
    &-unlove_photo{
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
    }

}
