.btn{

    background-color: #fff;
    color: #777;

    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 1rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;

    &-follow-form{
        border: none;

        background-color: transparent;
        color: white;
        font-size: 1.5rem;
        padding: 2rem;

        &:hover{
            cursor: pointer;
            font-weight: bold;
        }


    }
    &-comment-form{
        font-size: 1.5rem;
        text-decoration: none;
        &-love{
            font-size: 1.5rem;
        }

        &-sign_out{
            padding: 2rem  0rem;
            margin: 0rem;
            font-size: 1.5rem;
            font-weight: bold;
            border: none;
            color: teal;
            background-color: transparent;

        }
    }
    &-list{
        margin: 0rem 0rem  5rem 5rem;

        position: absolute;
        left: 7rem;
        bottom: 4rem;

        &-back {



        }
        &-page_number{

            font-size: 3rem;
            margin: 2rem;
            padding: 1rem 2rem 1rem 2.5rem;

            text-align: center;

            &-selected{
                color: white;
                background-color: red;
                padding: .5rem;
                font-weight: bold;
                font-size: 3.5rem;
                &-min{
                    background-color: darkgreen;
                    padding: .5rem 1.5rem;

                }
                &-max{
                    background-color: darkgreen;
                    padding: .5rem 1rem;

                }

            }

            &-link{
                color: black;
                padding: .5rem;
                background-color: darkgreen;

                &-min{
                    background-color: darkgreen;
                    padding: .5rem 1.5rem;

                }
                &-max{
                    background-color: darkgreen;
                    padding: .5rem 1.5rem;

                }
            }

        }

        &-next {
            position: absolute;
            right: -10rem;

        }
    }

    &-action{

        position: relative;
        text-align: center;
        &-edit{
            position: absolute;
            top: -1.7rem;
            left: 2rem;


            &-image{
                height: 3rem;
                width: 3rem;
            }

            &:hover{
                background-color: rgba(245, 222, 179,.4);

            }

        }

        &-delete{
            position:absolute;
            top: -1.5rem;
            left: 8rem;

            &-image{
                height: 3rem;
                width: 3rem;
            }

            &:hover{
                background-color: rgba(245, 222, 179,.4);

            }

        }




    }
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    }





}

