.form{


    &-sign_up{
        padding: 2rem;
        margin: 2rem 2rem;

        border-radius: 2rem;
        background-color: black;
        color: white;
        &-legend{
            font-size: 1.5rem;
            font-weight: bold;
            color: teal;
        }

        &-submit{
            margin-top: 2rem;
            text-align: center;

            &-gmail{
                &-logo{
                    height: 4rem;
                    width: 4rem;
                }
            }
            &-facebook{
                &-logo{
                    height: 4rem;
                    width: 4rem;
                }
            }
        }

    }

    &-sign_in{
        padding: 2rem;
        margin: 2rem 2rem;

        border-radius: 2rem;
        background-color: black;
        color: white;


        &-legend{
            font-size: 1.5rem;
            font-weight: bold;
            color: teal;

        }

        &-submit{
            margin-top: 2rem;
            text-align: center;

            &-gmail{

                &-logo{
                    height: 4rem;
                    width: 4rem;
                }
            }
            &-facebook{
                &-logo{
                    height: 4rem;
                    width: 4rem;
                }
            }
        }
    }

    &-add_track{

        margin-bottom: 2rem;
        padding: 2rem;

        color: var(--color-grey-light-3);
        background-color: rgba(black,1);
        border-radius: 2rem;

        width: auto;

        font-size: 1.5rem;

        &-file_upload{
            height: 2rem;
            width: 100%;
        }

    }












}
