@import url(https://fonts.googleapis.com/css?family=Nunito);.flex-container-row-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-evenly;
}

.flex-container-row-no_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  align-content: space-evenly;
}

.flex-item-row-no_wrap {
  flex: 0 1;
}

.flex-container-column-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-evenly;
}

.flex-container-column-no_wrap {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.flex-container-row-wrap-space_between {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-evenly;
}

.flex-container-row-no_wrap-no_space {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-evenly;
}

.flex-item-row-no_wrap {
  flex: 0 1;
}

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/

:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--color-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  background-color: #f1faee;
  min-height: 120vh;
}

@-webkit-keyframes from_right_to_left {
  0% {
    opacity: 0;
    transform: translateX(30rem);
  }

  90% {
    transform: translateX(-5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes from_right_to_left {
  0% {
    opacity: 0;
    transform: translateX(30rem);
  }

  90% {
    transform: translateX(-5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  70% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 1;
  }

  70% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes from_left_to_right {
  0% {
    opacity: 0;
    transform: translateX(-30rem);
  }

  90% {
    transform: translateX(5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@keyframes from_left_to_right {
  0% {
    opacity: 0;
    transform: translateX(-30rem);
  }

  90% {
    transform: translateX(5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0rem);
  }
}

@-webkit-keyframes from_up_to_down {
  0% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(25rem);
  }

  100% {
    transform: translateY(0rem);
  }
}

@keyframes from_up_to_down {
  0% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(25rem);
  }

  100% {
    transform: translateY(0rem);
  }
}

.message-session {
  position: relative;
  font-size: 1.5rem;
  text-align: center;
}

.message-session-span {
  padding: 1rem;
  background-color: gold;
  border-radius: 1.5rem;
  text-transform: uppercase;
  -webkit-animation: flash;
          animation: flash;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /*to prevent shake of the chars when its animated*/
}

.form-sign_up {
  padding: 2rem;
  margin: 2rem 2rem;
  border-radius: 2rem;
  background-color: black;
  color: white;
}

.form-sign_up-legend {
  font-size: 1.5rem;
  font-weight: bold;
  color: teal;
}

.form-sign_up-submit {
  margin-top: 2rem;
  text-align: center;
}

.form-sign_up-submit-gmail-logo {
  height: 4rem;
  width: 4rem;
}

.form-sign_up-submit-facebook-logo {
  height: 4rem;
  width: 4rem;
}

.form-sign_in {
  padding: 2rem;
  margin: 2rem 2rem;
  border-radius: 2rem;
  background-color: black;
  color: white;
}

.form-sign_in-legend {
  font-size: 1.5rem;
  font-weight: bold;
  color: teal;
}

.form-sign_in-submit {
  margin-top: 2rem;
  text-align: center;
}

.form-sign_in-submit-gmail-logo {
  height: 4rem;
  width: 4rem;
}

.form-sign_in-submit-facebook-logo {
  height: 4rem;
  width: 4rem;
}

.form-add_track {
  margin-bottom: 2rem;
  padding: 2rem;
  color: var(--color-grey-light-3);
  background-color: black;
  border-radius: 2rem;
  width: auto;
  font-size: 1.5rem;
}

.form-add_track-file_upload {
  height: 2rem;
  width: 100%;
}

.popup {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
  .popup {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  background-color: black;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  display: table;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all .5s .2s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.popup__close:link,
.popup__close:visited {
  color: brown;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: all .2s;
  line-height: 1;
}

.popup__close:hover {
  color: red;
}

.chat-page {
  border-radius: 2rem;
}

.chat-page-message-section {
  height: 100vh;
  width: 70vw;
  border-radius: 0 2rem 0 0;
}

.chat-page-message-section-reciver_info {
  background-color: lightgray;
  border-radius: 0 2rem 0 0;
}

@media only screen and (max-width: 37.5em) {
  .chat-page-message-section {
    width: 100vw;
  }
}

.chat-page-message-section-square {
  height: 100%;
  width: 100%;
  background-color: darkgray;
  overflow-y: scroll;
}

.chat-page-message-section-square-from_me {
  border-radius: .7rem;
  float: right;
  width: 50%;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.2rem;
}

.chat-page-message-section-square-from_me-profile_pic {
  float: right;
}

.chat-page-message-section-square-to_me {
  border-radius: .7rem;
  width: 50%;
  float: left;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.2rem;
}

.chat-page-message-section-square-to_me-profile_pic {
  float: left;
}

.chat-page-message-section-square-date {
  float: right;
  font-size: 11px;
  font-style: italic;
}

.chat-page-message-section-square-date-from_me {
  float: right;
  font-size: 11px;
  font-style: italic;
}

.chat-page-message-section-square-date-to_me {
  float: right;
  font-size: 11px;
  font-style: italic;
}

.chat-page-message-section-menu_bar {
  width: 100%;
  height: 10%;
  position: relative;
  border-radius: 2rem;
}

.chat-page-message-section-menu_bar-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-style: none;
  border-radius: 0 0 2rem 0;
}

@media only screen and (max-width: 37.5em) {
  .chat-page-message-section-menu_bar-text {
    border-radius: 2rem;
  }
}

.chat-page-message-section-menu_bar-send {
  width: 10rem;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0 0 2rem 0rem;
}

@media only screen and (max-width: 37.5em) {
  .chat-page-message-section-menu_bar-send {
    border-radius: 0rem 2rem 2rem 0rem;
  }
}

.chat-page-sidebar {
  height: 100vh;
  width: 30vw;
  border-radius: 2rem 0 0 2rem;
}

@media only screen and (max-width: 37.5em) {
  .chat-page-sidebar {
    display: none;
  }
}

.chat-page-sidebar-my-info {
  border-radius: 2rem 0 0 0;
  background-color: lightgray;
  height: auto;
}

.chat-page-sidebar-chats {
  height: 80vh;
  overflow-y: scroll;
  font-size: 1rem;
  list-style: none;
}

.chat-page-sidebar-chats-item:hover {
  background-color: lightgray;
}

.chat-page-sidebar-chats-item-user-photo {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.messages-side-nav {
  height: 80vh;
  overflow-y: scroll;
  font-size: 1.4rem;
  list-style: none;
  background-color: black;
  margin: 2rem;
  border-radius: 2rem;
}

.messages-side-nav__item {
  position: relative;
}

.messages-side-nav__item:not(:last-child) {
  margin-bottom: .5rem;
}

@media only screen and (max-width: 56.25em) {
  .messages-side-nav__item:not(:last-child) {
    margin: 0;
  }
}

.messages-side-nav__item__user-photo {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.messages-side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-primary);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
}

.messages-side-nav__item:hover::before,
.messages-side-nav__item--active::before {
  transform: scaleY(1);
  width: 100%;
}

.messages-side-nav__item:active::before {
  background-color: var(--color-primary-light);
}

.messages-side-nav__link:link,
.messages-side-nav__link:visited {
  color: var(--color-grey-light-1);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
}

.messages-side-nav__icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 2rem;
  fill: teal;
}

.tracks_nav {
  position: fixed;
  bottom: 0rem;
  width: 100%;
  height: 8rem;
  background-color: black;
  color: white;
  display: none;
}

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;
}

.user-nav > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.user-nav__icon-box {
  position: relative;
}

.user-nav__icon {
  height: 2.5rem;
  width: 2.5rem;
  fill: #f1faee;
  cursor: pointer;
}

.user-nav__notification {
  font-size: .8rem;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  color: #fff;
  position: absolute;
  top: 1.5rem;
  right: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-nav__user-photo {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.user-nav__user-name {
  color: var(--color-grey-dark-3);
  text-decoration: none;
}

.profile-nav {
  font-size: 1.4rem;
  list-style: none;
  border-radius: 1rem;
  margin: 0 .3rem 1rem .3rem;
}

.settings_sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  margin: 2rem;
  border-radius: 2rem;
}

.settings-nav {
  width: 100%;
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
}

@media only screen and (max-width: 56.25em) {
  .settings-nav {
    display: flex;
    margin: 0;
  }
}

.settings-nav__item {
  position: relative;
}

.settings-nav__item:not(:last-child) {
  margin-bottom: .5rem;
}

@media only screen and (max-width: 56.25em) {
  .settings-nav__item:not(:last-child) {
    margin: 0;
  }
}

@media only screen and (max-width: 56.25em) {
  .settings-nav__item {
    flex: 1;
  }
}

.settings-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-primary);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
}

.settings-nav__item:hover::before,
.settings-nav__item--active::before {
  transform: scaleY(1);
  width: 100%;
}

.settings-nav__item:active::before {
  background-color: var(--color-primary-light);
}

.settings-nav__link:link,
.settings-nav__link:visited {
  color: var(--color-grey-light-1);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 56.25em) {
  .settings-nav__link:link,
  .settings-nav__link:visited {
    justify-content: center;
    padding: 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .settings-nav__link:link,
  .settings-nav__link:visited {
    flex-direction: column;
    padding: 1.5rem .5rem;
  }
}

.settings-nav__icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 2rem;
  fill: currentColor;
}

@media only screen and (max-width: 37.5em) {
  .settings-nav__icon {
    margin-right: 0;
    margin-bottom: .7rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.master_view {
  max-width: 95%;
  margin: 9rem auto;
  padding: 2rem;
  box-shadow: var(--shadow-dark);
  min-height: 7rem;
  border-radius: 2rem;
  background-color: #457b9d;
}

@media only screen and (max-width: 75em) {
  .master_view {
    margin: 9rem 1rem;
    max-width: 100%;
    width: auto;
  }
}

.master_view-pagination {
  text-align: center;
}

.master_view-pagination-button {
  width: 100%;
  font-size: 1.5rem;
  padding: 1rem;
  border-style: none;
  background-color: teal;
  cursor: pointer;
}

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media only screen and (max-width: 31.25em) {
  .search {
    order: 1;
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
  }
}

.search__input {
  font-size: 1.4rem;
  color: black;
  background-color: var(--color-grey-light-2);
  border: none;
  padding: .2rem .7rem;
  width: 60%;
  transition: all .2s;
  margin-right: -3.25rem;
}

.search__input:focus {
  outline: none;
  width: 90%;
  background-color: var(--color-grey-light-3);
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--color-grey-light-4);
}

.search__input:focus + .search__button {
  background-color: var(--color-grey-light-3);
}

.search__button {
  border: none;
  background-color: var(--color-grey-light-2);
}

.search__button:focus {
  outline: none;
}

.search__button:active {
  transform: translateY(2px);
}

.search__icon {
  height: 2rem;
  width: 2rem;
}

.search-records {
  display: none;
  width: 30%;
  position: absolute;
  top: 5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: black;
  z-index: 2;
}

.track-comments-container {
  margin-top: -2rem;
}

.show_track_container {
  margin-top: 1rem;
}

.about_container {
  background-color: black;
  padding: 2rem;
  margin: 2rem;
  border-radius: 2rem;
}

.about-background_pic {
  width: 100%;
  height: 30rem;
}

.about-profile_pic {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.about-personal_info {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: white;
  width: 100%;
}

.about-personal_info-first_name {
  width: 100%;
  margin: 1rem;
}

.about-personal_info-first_name-input {
  width: 100%;
  height: 4rem;
  border-radius: 2rem;
  padding-left: 2rem;
}

.about-personal_info-second_name {
  width: 100%;
  margin: 1rem;
}

.about-personal_info-second_name-input {
  width: 100%;
  height: 4rem;
  border-radius: 2rem;
  padding-left: 2rem;
}

.about-personal_info-from {
  width: 100%;
  margin: 1rem;
}

.about-personal_info-from-input {
  width: 100%;
  height: 4rem;
  border-radius: 2rem;
  padding-left: 2rem;
}

.about-personal_info-lives {
  width: 100%;
  margin: 1rem;
}

.about-personal_info-lives-input {
  width: 100%;
  height: 4rem;
  border-radius: 2rem;
  padding-left: 2rem;
}

.about-personal_info-study_at {
  width: 100%;
  margin: 1rem;
}

.about-personal_info-study_at-input {
  width: 100%;
  height: 4rem;
  border-radius: 2rem;
  padding-left: 2rem;
}

.about-personal_info-work {
  width: 100%;
  margin: 1rem;
}

.about-personal_info-work-input {
  width: 100%;
  height: 4rem;
  border-radius: 2rem;
  padding-left: 2rem;
}

.about-personal_info-gender {
  width: 100%;
  margin: 1rem;
}

.about-personal_info-gender-input {
  width: 100%;
  height: 3rem;
  border-radius: 2rem;
  padding-left: 2rem;
}

#playing {
  background-image: url(/images/media_pause_btn.png);
}

#paused {
  background-image: url(/images/media_play_btn.png);
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: white;
}

.popup .popup_text {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  bottom: 125%;
  left: 50%;
  z-index: 1;
  margin-left: -80px;
}

.popup .popup_text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.notifi-box {
  width: 30rem;
  position: absolute;
  top: 6rem;
  right: 6rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: none;
  max-height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: black;
}

.notifi-box-h2 {
  font-size: 1.4rem;
  padding: 1rem;
  border-bottom: 1px solid #eee;
  color: black;
  background-color: white;
}

.notifi-box-span {
  color: #f00;
  margin-left: 1rem;
}

.notifi-item {
  display: flex;
  border-bottom: 1px solid #eee;
  padding: 1.5rem .5rem;
  cursor: pointer;
  width: 30rem;
}

.notifi-item-img {
  display: block;
  width: 5rem;
  margin-right: 1rem;
  border-radius: 50%;
}

.notifi-item-text-h4 {
  color: inherit;
  font-size: 1.3rem;
  margin-top: 1rem;
}

.notifi-item-text-p {
  overflow: hidden;
  color: inherit;
  font-size: 1.2rem;
}

.notifi-item:hover {
  background-color: #3490dc;
  color: #eee;
}

@media only screen and (max-width: 37.5em) {
  #notifications-box {
    right: 3rem;
  }
}

.navbar-brand-logo {
  height: 4rem;
  width: 4rem;
}

.my_navbar {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  font-size: 1.5rem;
  background-color: #e63946;
}

.my_container {
  background-color: teal;
  margin-top: 6rem;
  padding: 2rem;
  border-radius: 2rem;
}

.track {
  border-radius: 2rem 2rem 0 0;
}

.track:hover {
  box-shadow: 0 .1rem 1rem #f1faee;
  transform: translateY(-0.1rem);
}

.track-track_owner-pic {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.track-track_owner-name {
  text-decoration: none;
  font-size: 1.4rem;
  cursor: pointer;
}

.track-created_at {
  font-size: 1rem;
}

.track-track_name {
  cursor: pointer;
}

.track-love_photo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.track-unlove_photo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.track-upper_buttons {
  width: 100%;
}

.track-upper_buttons-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin: 1rem;
}

.track-duration {
  color: white;
  margin-bottom: 1rem;
  width: 100%;
}

.track-duration-duration {
  width: 70%;
  margin: 0 1rem 0 1rem;
}

.track-volume {
  width: 100%;
  color: white;
}

.track-volume-volume {
  width: 70%;
  margin: 0 1rem 0 1rem;
}

.track-down_buttons {
  width: 100%;
}

.track-down_buttons-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin: 1rem;
}

.track-form-comment {
  margin: 1rem 0;
  color: white;
  width: 100%;
}

.track-comment-photo {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.track-comment-love_photo {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.track-comment-unlove_photo {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.selected_chat {
  background-color: lightgray;
}

.unreaded_message {
  background-color: lightgray;
}

