.user-nav {
    position: relative;
    left: 100rem;
    top: 0rem;
    align-self: stretch;

    display: flex;
    align-items: center;



    & > * {
        padding: 0 2rem;
        cursor: pointer;
    }


    &__icon-box {
        position: relative;
        top: .5rem;
        right: 8rem;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);

    }

    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute;
        top: 2.5rem;
        right: 2.25rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-photo {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;

        position: absolute;
        top: .75rem;
        right: 117rem;
    }

    &__menu{
        font-size: 1.3rem;
        position: absolute;
        top: 1rem;
        right: 100rem;

        &--link{
            color: white;
            text-decoration: none;
        }
    }

}
